.borrowboxecoin{
width: 338px;
height: max-content;
background: rgba(255, 244, 0, 0.19);
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
gap: 10px;
}
.borrowboxxdc{
    width: 338px;
    height: max-content;
    background: rgba(1, 103, 255, 0.19);;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    gap: 10px;
    }

.borrowtext{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
}
.borrowtexth{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.borrowtablebox{
    padding: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}
.borrowtablerow{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.vaultbox{
    width: 340px;
    height: 280px;
  
    background: rgba(88, 255, 145, 0.29);
    border-radius: 30px;
    padding: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    gap: 10px;
    }

    .newbtnboxdiv{
        width: 158.93px;
        height: 30.75px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        text-align: center;
        border-radius: 30px;
        justify-content: space-around;
        display: inline-flex;
        flex-direction: column;
    }