.vaultcontent {
    display: flex;
    flex-direction: column;
    
}

.openvault {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
    align-items: center;
}

.openvaultbtn{
    display: flex;
    width: max-content;
}

.vaultdetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //font-size: 10px;
    margin-right:10vw;
    margin-left:10vw;

}

.depositform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depositform-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 15px;
}

.vaultoptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.yourdebt {
    display:  flex;
    flex-direction: column;
}

.unidaohead{
    font-family: Inter;
font-size: 52px;
font-weight: 400;
line-height: 63px;
letter-spacing: 0em;
text-align: center;

}

.vaultaccessnew{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    padding-top: 8rem;
}
.vanhead{
    font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0em;
text-align: center;
}

.vaninsight{
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}

.vanmaingrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.vanmain4box{
    display: grid;
    grid-column: (1,3);
    grid-template-columns: repeat(2, 1fr) ;
    padding-top: 30px;
    gap: 20px;
}
.van1box{
    height: 153px;
    width: 327.8599853515625px;
    background: #FFFFFF;
    border-radius: 30px;
    

}

.vanmainconfig{
padding-top: 50px;
width: 500px;
height: 337px;
background: #FFFFFF;
border-radius: 20px;
}