.sidebar{
    grid-column: 1;
    background-color: rgb(80, 218, 153);
    height: 100vh;
    background: #ffffff24;
    
}

.sidebar_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    
}
.sidebar_options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}